/* :root {
    --blue: #0d6efd;
    --black: #66ffe0;
    --border-radius: 0.3rem;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var();
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--dark);
    line-height: 1.5;
    font-size: 16px;
}

main {
    margin: 20px auto;
    width: 94%;
}

.card {
    margin: 0 0 20px 0;
    border: 3px solid var( --blue);
    border-radius: var(--border-radius);
}

.card-header {
    color: var(--primary);
    background-color: var(--blue);
    padding: 2.5%;
    border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.card-body {
    padding: 2.5%;
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}

.justify-space-between {
    justify-content: space-between;
}

.min-100-vh {
    min-height: 100vh;
} */